// colors
$overlayColor: rgba(13, 12, 12, 0.28);
$primaryColor: #8691f7;
$lighterPrimaryColor: #757afa;
$fontColor: #fff;
$borderColor: $fontColor;
$bgColor: #fff;
$descFontColor: #000;
$mFontColor: $primaryColor;
$mBorderColor: $mFontColor;
