<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SIA APP Challenge 2018</title>
</head>
<body>
    <h2>One day in {{city}} :</h2>
    <form method="POST">
        <p><span>Destination:</span><input type="text" id="destination"/></p>
        <p><input type="BUTTON" value="Go!" id="recommend" /></p>
    </form>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{static_url("js/script.js")}}"></script>
</body>
