#desktop {
  h1 {
    text-transform: uppercase;
    font-size: rem(72px);
    font-weight: 600;
  }

  p,
  span {
    margin: 0;
    font-size: rem(30px);
    font-weight: 500;
    letter-spacing: rem(1px);
  }

  li {
    text-decoration: none;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
